
.mainpage{
	margin: auto auto;
}

table input {width:90%;}

table{
	border-collapse: collapse;	
}

table, th, tr, td{	
	border: 1px solid #666;
}

td {text-align: center;}

#cpi{
	text-align:left;
	padding-left:20px;
}

.cpi_row {
	padding-bottom: 10px;
	padding-top: 10px	
}

td, th{
	padding: 2px 2px;
}

.pattern{width:100px;
}

#loci{
	width: 80px;
	text-align: left;
}

.pi{width:130px;}

.p1, .p2, .p3{width:60px;}

input{
	border: 1px solid #CECECE;
	padding : 2px 2px;
}

.mainpage .ui-widget-header{
	background:none;
}

.mainpage .ui-widget-content{
	border:none;
}


