
.mainpage{
	margin: auto auto;
}

table input {width:90%;}

table{
	width:520px;
	border-collapse: collapse;	
}

table, th, tr, td{	
	border: 1px solid #666;
}

td,th {text-align: center;}

#cpi{
	text-align:left;
	padding-left:40px;
}

.cpi {
	padding-bottom: 25px;
	padding-top: 25px	
}


.pattern{width:100px;
}

#loci{
	width: 80px;
	text-align: left;
}

.pi{width:130px;}

.p1, .p2, .p3{width:60px;}

input{
	border: 1px solid #CECECE;
	background: transparent;
	padding : 2px 2px;
}

.maincontent .ui-widget-header{
	background:none;
}

.maincontent .ui-widget-content{
	border:none;
}


