@import url("common.css");

body{
	font-size: 12px;
	font-family: helvetica;
	margin: 10 10 10 10px;
	padding: 0px;
}


.mainpage .ui-tabs-nav{
	border: none;
	padding-left:0px;
}

.mainpage .ui-tabs-panel{
	border: 1px solid #4297D7;
	 
	border-top-right-radius: 5px;
	background: url(../images/bg.gif) no-repeat;

}

th{
	font-size:14px;
}

.header{display:none}

.save{
	margin-top: 10px;
	padding: 5px 40px 5px 40px;
}

.table_container{
	display: inline-block; 
	text-align: right;
}

.fileinput-input {
	width: 200px;
	margin-left: 3px;
}

.fileinput-button {
	width: 50px;
}