body{
	font-size: 12px;
	font-family: helvetica;
	margin: 10 10 10 10px;
	padding: 0px;
}

.mainpage{
/*	width : 960px;
	min-height : 600px;
*/	margin: 0 auto;
}


/*===================================================*/
.tracercontainer{
	margin : 0;
	padding : 0;
}

.tracercontainer .tracerhead,
.tracercontainer .tracerrow{	
	clear: both;
}


.tracercontainer .tracerhead span{
	border: 1px solid #666;
	background-color: #ddd;
	padding: 1px;
}

.tracercontainer .tracerrow span{
	border: 1px solid #666;
	clear: both;
	padding: 1px;
}

table input {width:90%;}

table{
/*	width : 700px;
*/	border-collapse: collapse;	
}

table, th, tr, td{	
	border: 1px solid #666;
}

th{
	font-size:14px;
}

td, th{
	padding: 2px 2px;
}

.pattern{width:100px;
}
#loci{
	width: 80px;
	text-align: left;
}

.pi{width:130px;}

.p1, .p2, .p3{width:60px;}


.selectedrow{
	background-color: #bbb;
}

/*===================================================*/


.tracerHead{
	height: 40px;
	width: 960px;
	margin: 0 auto;
	background: -moz-linear-gradient(100% 100% 90deg,#0085DA,#00AEE9);
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#00AEE9),to(#0085DA));
	padding-top: 10px;
}

.wbxLogo{
	background-image: url(../images/cisco_webex.png);
	height: 26px;
	width: 160px;
	margin-left: 20px;	
	float: left;
}

.filter{
    float: right;
    margin-right: 10px;
}
input{
	border: 1px solid #CECECE;
	padding : 2px 2px;
}

.mainpage .ui-widget-header{
	background:none;
}

.mainpage .ui-widget-content{
	border:none;
}

.mainpage .ui-tabs-nav{
	border: none;
	padding-left:0px;
}

.mainpage .ui-tabs-panel{
	border: 1px solid #4297D7;
	 
	border-top-right-radius: 5px;
}
