@import url("common.css");

body{
	font-size: 12px;
	font-family: helvetica;
	margin: 10 10 10 10px;
	padding: 0px;
}

.mainpage{
	width : 600px;
	min-height : 600px;
	margin: 0 auto;
}


.mainpage .ui-tabs-nav{
	border: none;
	padding-left:0px;
}

.mainpage .ui-tabs-panel{
	border: 1px solid #4297D7;
	 
	border-top-right-radius: 5px;
	background: url(../images/bg.gif) no-repeat;

}

th{
	font-size:14px;
}

.header{display:none}

.save{
	margin-top: 10px;
	padding: 5px 40px 5px 40px;
}

.table_container, .banner{
	display: inline-block; 
	text-align: right;
}

.banner{width: 100%;}
.fileinput-wrapper{
	margin-right: 3px;
}

.logo{
	background: url(../images/logo.png) no-repeat center;
	height: 86px;
	width: 100%;
	float: left;
}

#tabs-min {
	background: transparent;
	border: none;
}
#tabs-min .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs-min ul .ui-state-default {
	background: transparent;
	border: none;
}
#tabs-min ul .ui-state-active {
	background: transparent url(../images/uiTabsArrow.png) no-repeat bottom center;
	border: none;
}
#tabs-min .ui-state-default a {
	color: #c0c0c0;
}
#tabs-min .ui-state-active a {
	color: #459E00;
}

#tabs-min .ui-tabs-panel{
	border: 0px;
	background: transparent;

}

